.carrossel{
    width: 600px;
    height: 300px;
    overflow: hidden;
    border-radius: 25px;
    position: absolute;
    left: 380px;
    top: 180px;
    


    
    
}

body{
    background-color: #1d1a1a;
}



.carrossel .fotos {
    width: 2000%;
    animation: animacao 20s infinite;
    
    
}

.carrossel .fotos img{
width: 5%;
}

@keyframes animacao{
0%{margin-left: 0%;}
6.7%{margin-left: 0%;}
10.1%{margin-left: -101%;}
16.8%{margin-left: -101%;}
20.2%{margin-left: -201.5%;}
26.9%{margin-left: -201.5%;}
30.3%{margin-left: -302%;}
37%{margin-left: -302%;}
40.4%{margin-left: -402.5%;}
47.1%{margin-left: -402.5%;}
50.5%{margin-left: -503%;}
57.2%{margin-left: -503%;}
60.6%{margin-left: -603.5%;}
67.3%{margin-left: -603.5%;}
70.7%{margin-left: -704%;}
77.4%{margin-left: -704%;}
80.8%{margin-left: -805%;}
87.5%{margin-left: -805%;}
90.9%{margin-left: -905.5%;}
97.6%{margin-left: -905.5%;}
100%{margin-left: -1006%;}




}

.text{
    text-align: center;
    position: absolute;
    left: 470px;
    font-size: 70px;
    color: #dbcece;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
    
    

